.mainContent{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.menuAdmin{
    background-color: #252525;
    color: white;
    height: 100%;
}
.menuOption{
    cursor: pointer;
    padding: 5%;
}

.menuOption:hover{
    background-color: #1a1a1a;
}

/* ----------------------------- */
/* LOGIN */
/* ----------------------------- */

#login{
    width: 100vw;
    height: 100vh;
    padding: 20%;
    /* background-color: gray; */
}

/* ----------------------------- */
/* DASHBOARD */
/* ----------------------------- */
.dashboard{
    width: 100%;
    height: 100%;
}
.dashboardInfo .row{
padding: 5%;
}
.dashboardCard{
    width: 100%;
    height: 100%;
}