.mainContent{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.menuAdmin{
    background-color: #252525;
    color: white;
    height: 100%;
}
.menuOption{
    cursor: pointer;
    padding: 5%;
}

.menuOption:hover{
    background-color: #1a1a1a;
}
